body{
	background-image: url(backstripe.jpg);
	font-family: "Century Gothic", "Century Gothic Bold";
	}



h1{
	color: #767676;
	letter-spacing:2px;
	margin:0px;
	padding:0px;
	
	text-align:center;

	font-size: x-large;
	}	
		

/*div around logo*/

#alogo{
	width:170px;
	height:148px;
	margin-top:0px;
	margin-left:0px;
	margin-bottom:2px;
	padding: 0px 10px 0px 10px;
	}
/*logo*/
#logo{
	width:170px;
	height:148px;
	margin-top:0px;
	margin-left:0px;
	margin-bottom:0px;
	position:absolute;
	padding-bottom:0px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
	border:0px;
}

#logo a:link {border:0px; background-color:#FFF;}
#logo a:visited {border:0px; background-color:#FFF;}
#logo a:hover {border:0px; background-color:#FFF;}
#logo a:active {border:0px; background-color:#FFF;}
	/*text of logo*/
	
h2{
	width:inherit;
	line-height:92%;
	color: #767676;
	letter-spacing:0px;
	word-spacing:0px;
	margin-top:115px;
	padding-top:0px;
	padding-left: auto;
	padding-right:auto;
	margin-bottom:0px;
	text-align:center;
	font-size: medium;
	position: absolute;
	text-decoration:none;
	font-weight:normal;
	}	
	
h2 a:link {text-decoration:none;}
h2 a:visited {text-decoration:none;}
h2 a:hover {text-decoration:none;}
h2 a:active {text-decoration:none;}
	
/*white back round for menu*/	
		
#whitebgmenu {
	background-color: #FFF;

	width:190px;
	float:left;
	margin-left:20px;
	margin-top:20px;
	margin-bottom:auto;
	position: absolute;
		
	-moz-box-shadow: 1px 1px 4px #A8A8A8  /* Firefox */
	-webkit-box-shadow: 1px 1px 4px #A8A8A8  /* Safari and Chrome */
	box-shadow: 1px 1px 4px #A8A8A8 
	-moz-border-radius:5px /* Firefox */
	border-radius:5px

	}
	
/*Menu on left*/
ul .leftmenu{
	color:#515151;
	font-size:medium;
	list-style:none;
	text-align:left;
	text-decoration:none; 
	padding-left:0px;
	margin-top:10px;
	padding-top:0px;
	}
	/*link in Menu of left*/

ul .leftmenu a{
	color:#515151;
	text-decoration:none; 

	}
	/*main Menu mouse over*/

ul .leftmenu a:hover {color: #FF3399;}

li .leftmenu{
	color:#515151;
	font-size:medium;
	list-style:none;
	text-align:left;
	text-decoration:none; 
	padding-left:0px;
	margin-top:5px;

	}
	
/*sub menu gap from main menu*/
ul .leftsubmenu{
	color:#515151;
	font-size:medium;
	list-style:none;
	text-align:left;
	text-decoration:none; 
	padding-left:0px;
	margin-top:0px;
	padding-top:0px;
}
	/*sub menu gap from each other*/
li .leftsubmenu {
	color:#515151;
	font-size:medium;
	list-style:none;
	text-align:left;
	padding-left:10px;
	margin-top:0px;
	padding-top:5px;
	text-decoration:none; 
	display:block;
	width:150px;
	
	}
	/*list item in menu that we are in*/
li .leftmenu .selected a{color: #F06;}

	/*list item in menu that we are in - mouse over*/
li.leftmenu .selected a:hover {color: #FF3399;;}

/*sub menu */
li.leftmenu .selected ul a{
	text-decoration:none; 
	display:block;
	width:150px;
	font-weight: ;
	color:#515151;
	padding-top:5px;
		}
		/*sub menu - mouse over */
ul .leftsubmenu a:hover {color:#FF3399;}

	
/*big white frame*/
#frame{
	color: #333;
	width: auto;
	position: absolute;
	margin-right:20px;
	margin-left:241px;;
	margin-top:20px;
	margin-bottom:50px;
	background-color: #FFF;
	text-align:left;
	
	
/*	overflow-y:auto;
	overflow-x: hidden;*/
	
	}


p {
	padding-top:10px;
	margin-top:0px;
	padding-left:0px;
	padding-left:0px;
	display:block;
	float:left;
	width:640px;
	color:#515151;

	
	}


.imagebox{
	background-color: #F5F5F5;
	height:300px;
	width:250px;
	margin-top:50px;
	margin-left:50px;
	float:left;
		-moz-border-radius:2px; /* Firefox */
	border-radius:2px;
}


a .imagebox{
	background-color: #F5F5F5;
	height:300px;
	width:250px;
	margin-top:50px;
	margin-left:50px;
	float:left;
	-moz-border-radius:2px; /* Firefox */
	border-radius:2px;
	

	
}

.insimage{
	position:absolute;
	width:230px;
	height:230px;
	margin-top:10px; 
	margin-left:10px;
	margin-bottom:10px;
	border: thin #555;
	}
	
a .insimage{
	position:absolute;
	width:230px;
	height:230px;
	margin-top:10px; 
	margin-left:10px;
	margin-bottom:10px;
	border: thin #515151;

	}

.txtbox{
	position: inherit;
	color:#515151;
	width:230px;
	height:50px;
	margin-top:240px;
	margin-left:10px;
	text-align:center;
	padding-top:10px;
	text-decoration:none; }

 a .txtbox {
	position: inherit;
	color:#515151;
	width:230px;
	height:50px;
	margin-top:240px;
	margin-left:10px;
	text-align:center;
	padding-top:10px;
	text-decoration:none; }


#ha-kir{
	width:inherit;
	padding-top:35px;
	margin-top:0px;
	float:left;
	margin-left:0px;
	padding-left:35px;
	padding-bottom: 15px;
	position: relative;
	
}

#textbox{
	width:inherit;
	padding-top:35px;
	padding-left:35px;
	position: relative;
	
}

#bottomstripe{width:100%;
height:20px;
position: relative;
float:right;
margin-bottom:0px;

}

 
  

  select, input, textarea {
    font-size: 1em;
  }
/*
  h2 {
    margin-top: 1.2em;
    margin-bottom: 0;
    padding: 0;
    border-bottom: 1px dotted #dedede;
  }*/
  h3 {
    margin-top: 1.2em;
    margin-bottom: 0;
    padding: 0;
  }
  .example {
    border: 1px solid #CCC;
    background: #f2f2f2;
    padding: 10px;
  }
  ul {
    list-style-image:url(list-style.gif);
  }
  pre {
    font-family: "Lucida Console", "Courier New", Verdana;
    border: 1px solid #CCC;
    background: #f2f2f2;
    padding: 10px;
  }
  code {
    font-family: "Lucida Console", "Courier New", Verdana;
    margin: 0;
    padding: 0;
  }

  #gallery {
    padding: 30px;
    background: #FFF;
  }
  #descriptions {
    position: relative;
    height: 50px;
    background: #EEE;
    margin-top: 10px;
    width: 640px;
    padding: 10px;
    overflow: hidden;
  }
    #descriptions .ad-image-description {
      position: absolute;
    }
      #descriptions .ad-image-description .ad-description-title {
        display: block;
      }
  
