
.life{
background-color: #cbdbe7;
color:#171717;
width:50%;
float:left;
height:auto;
margin:15px;
margin-left: 100px;
padding: 15px;

}

.life2{
background-color: #c7487b;
color:#171717;
width:50%;
float:left;
height:auto;
margin:15px;
margin-left: 100px;
padding: 15px;
}

.wednesday{
background-color: #cbdbe7;
color:#171717;
width:50%;
float:left;
height:auto;
padding: 15px;
margin:15px;
margin-left: 100px;
}
.thursday{
background-color: #c7487b;
color:#171717;
width:50%;
float:left;
height:auto;
padding: 15px;
margin:15px;
margin-left: 100px;
}

.friday{
background-color: #cbdbe7;
color:#171717;
width:50%;
float:left;
height:auto;
padding: 15px;
margin:15px;
margin-left: 100px;

}

.saturday{
background-color: #c7487b;
color:#171717;
width:50%;
float:left;
height:auto;
padding: 15px;
margin:15px;
margin-left: 100px;
}
.sunday{
background-color: #cbdbe7;
color:#171717;
width:50%;
float:left;
height:auto;
padding: 15px;
margin:15px;
margin-left: 100px;
}

h1{
font-style:strong;
}

}
.div{
	width: auto;
	background-color: white;
	float:none;
	padding-top: 180px;

	
}